* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-image: url("../img/wall.png");
  text-align: center;
  font-size: 4rem;
  font-family: "Edu TAS Beginner";
  font-weight: bold;
}
main {
  background-image: url("../img/cork.png");
  flex-grow: 1;
}

.container {
  max-width: 100%;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  padding: 1rem;
  background-color: white;
  width: 350px;
}
img {
  display: block;
  max-width: 100%;
}

.layover {
  display: none;
  position: fixed;
  z-index: 10;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
}

.layover.visible {
  display: block;
}
